<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>
        Zoff Twitch bot Configurations
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#2D2D2D">
    <meta property="og:image" content="https://zoff.me/assets/images/favicon.png">
    <meta property="og:url" content="https://bot.zoff.me">
    <meta property="og:title" content="Zoff Admin">
    <meta property="og:description" content="Zoff admin panel">
    <meta property="og:type" content="website">
    <link rel="icon" id="favicon" type="image/png" href="https://zoff.me/assets/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://zoff.me/assets/css/style.css" title="Default" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
      .admin_panel {
        padding-top: 100px;
        min-height: calc(100vh - 290px);
      }
      .not-authenticated {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .moderate-label {
        font-size: 1rem;
        text-align: left;
      }
    </style>
</head>
<body>
    {{{body}}}
    <footer class="page-footer cursor-default">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Zoff</h5>
                <p class="grey-text text-lighten-4">The shared YouTube and SoundCloud radio</p>
                <p class="grey-text text-lighten-4">
                    Being built around the YouTube and SoundCloud API
                    it enables the creation of collaborative and shared live playlists,
                    with billions of videos and songs to choose from, all for free and without registration.
                    <br />
                    Enjoy!
                </p>
            </div>
            <div class="col l4 offset-l2 s12 valign-wrapper">
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; {{year}}
            <a href="http://kasperrt.no">KasperRT</a> &amp;
            <a href="http://nixo.no">Nixo</a>
            <br>
            All Rights Reserved.
        </div>
    </div>
</footer>
</body>
</html>
