<header>
    <nav id="fp-nav">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo noselect">
                <img class="zicon" src="https://zoff.me/assets/images/squareicon_small.png" alt="Zoff" title="Zoff" />
            </a>
        </div>
    </nav>
  </header>
<main class="container center-align admin_panel not-authenticated">
    <h3>Twitch-bot configurations</h3>
    <p>
      You need to login to twitch to access this page
    </p>
      <a href="/auth/twitch" class="waves btn purple darken-3">Login with twitch</a>
</main>
